/* #container {
  max-width: 480px;
  width: 100%;
} */

#pop-search{
  display: none;
}
#pop-search a{
  display:flex;
  align-items: center;
  justify-content: center;
}
#pop-search i{
  margin-left: 8px;
}

#demo_box {
  width: 70px;  
  margin-right: 10px;
  display: none;
  /* margin: 20px auto; */
}
#demo_li{
  margin-top: 5px;
  font-size: 10px;
}

/* .fa {
  font-size: 40px;
   line-height: 70px;
} */

.fa-bars {
  color: #046381;
}

/* pre {
  font-family: Consolas, Liberation Mono, Courier, monospace;
  font-size: 13px;
} */


@media screen and (orientation: portrait) {
  pre {
      overflow-x: scroll;
  }
}
@media (max-width: 960px) {
  #demo_box{
    display: block;
  }
  #pop-search{
    display: block;
  }
  .nav-links{
    display: none;
  }
  .nav-search{
    display: none;
  }  
}
@media (max-width: 430px) {
  #pop-search input{
    display: none;
  }
}