.header-h1{
  color: white;
  padding-top: 20px;
}

section {
  padding-bottom: 0;
}

section h3 {
  margin-bottom: 10px;
}

.per-details {
  background-image: linear-gradient(90deg, rgb(207, 207, 207), white);
  /* background-color: rgb(207, 207, 207); */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  /* width:  */
}

.per-details * {
  margin-bottom: 15px;
  font-size: 18px;
  width: 220px
}

.levels {
  display: flex;
  flex-wrap: wrap;
}

.one-level {
  display: inline-block;
  display: flex;
  align-items: center;
  padding-right: 15px;
  width: 390px;
}

.one-level input {
  width: 50px;
}

#notifications span {
  width: 390px;
}
#delete span {
  width: 390px;
}
#delete h5 {
  width: 100%;
}