<!-- \<h5.*"\> -->

<div id="page_matiere" class="section section-odd no-scroll-x">
  <div class="wrapper">
    <div class="bloc_cath left" id="cath_1">
      MAIN TOPIC -----  Academic  ------ MAIN TOPIC  

      CATEGORY   ------ Academic tutoring   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Adaptive Education

 Support for Students with a handicap,

        Support for Students with a Reading Disorder,

        Support for students with ADD,

        Support for students with ADHD,

        Support for Students with Asperger Syndrome,

        Support for Students with Autism,

        Support for Students with dyslexia,

        Support for Students with dysorthography,

        Support for Students with dysphasia,

        Support for Students with math difficulties,


        SUBJECT --> Architecture

        Architecture,

        Decoration,

        Design,

        Interior design,


        SUBJECT --> Biological Sciences

        Anatomy,

        Biology,

        Biotechnology,

        Botany,

        Cellular biology,

        Genetics,

        Geology,

        Glycobiology,

        Hydrobiology,

        Microbiology,

        Molecular biology,

        Physiology,

        Veterinary studies,

        Zoology,


        SUBJECT --> Ecology

        Composting,

        Ecology,

        Recycling,


        SUBJECT --> Economics

        ACCA,

        Accounting,

        Admission prep for business school,

        AIA,

        Bitcoin,

        Blockchain,

        Business strategy,

        Business Studies,

        CIMA,

        CIPFA,

        Commerce,

        Crypto Currency,

        CSQS,

        Econometrics,

        Economics,

        Finance,

        Financial management,

        ICAEW,

        ICAS,

        ICSA,

        International trade,

        Logistics,

        Macroeconomics,

        Management,

        Management Control,

        Marketing,

        Microeconomics,

        Negotiation,

        Probability,

        Tax system,


        SUBJECT --> Education

        Algebra,

        Algorithms,

        Arithmetic,

        Astrophysics,

        Biochemistry,

        Chemical Engineering,

        Chemical Physics,

        Chemistry,

        Electrochemistry,

        Food chemistry,

        Geometry,

        Industrial chemistry,

        Logic,

        Maths,

        Nuclear Physics,

        Organic chemistry,

        Other sciences,

        Physics,

        Quantum physics,

        Statistics,

        Thermodynamics,

        Trigonometry,


        SUBJECT --> Engineering Sciences

        Aeronautics,

        Agricultural Sciences,

        Agronomy,

        Astronomy,

        Automation,

        Civil engineering,

        Electrical Engineering,

        Electricity,

        Electronics,

        Engineering,

        Industrial design,

        Mechanical Engineering,

        Metallurgy,

        Robotics,

        Technology,


        SUBJECT --> Humanities and Social Sciences

        Anthropology,

        Archeology,

        Art history,

        Citizenship,

        Civics,

        Community Management,

        Current affairs,

        Digital communication,

        Ethics,

        General knowledge,

        Geographical History,

        Geography,

        Geopolitics,

        History,

        History of cinema,

        History of Philosophy,

        Journalism,

        Moral and civic education,

        Mythology,

        Non-verbal communication,

        Philosophical logic,

        Philosophy,

        Psychology,

        Social communication,

        Sociology,

        Theology,


        SUBJECT --> Law

        Bar Professional Training Course,

        Business law,

        Civil law,

        Criminal law,

        Graduate Diploma in Law,

        International law,

        Labor law,

        Preperation for LPC,

        Public law,

        Qualified Lawyer Transfer Scheme,

        Tax law,


        SUBJECT --> Letters

        11+ School Exam Preparation,

        Ancient Greek,

        Classics,

        Comparative literature,

        Creative writing,

        Dissertation,

        Dissertation and thesis’s writing preparation,

        French language and literature,

        Latin,

        Literacy,

        Literature,

        Modern Literature,

        Oral expression,

        Oratory,

        Phonetics,

        Poetry,

        Preperation for business school,

        Reading,

        Redaction,

        Resume - cover letter’s writing prep,

        Rhetoric,

        School English,

        Speed Reading,

        Test prep,

        Text commentary,

        World Literature,

        Writing inventions,


        SUBJECT --> Medical Sciences

        Health and social care,

        IFSI Preparation,

        Kinesiology,

        Medicine,

        Orthopedics,

        Podiatry - Pedicure,

        Science of nutrition,

        Speech therapy,


        SUBJECT --> Tutoring

        Academic tutoring,

        Afterschool pick-up &amp; Baby-sitting,

        Methodology,

        School Coaching,

        School support,

      </div>

      CATEGORY   ------ Computer Sciences   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Apple

        Apple,

        Apple Store,

        iPad,

        iPhone,

        iPod,

        iTunes,

        Mac,

        Safari,


        SUBJECT --> CAD

        ArchiCAD,

        AutoCAD,

        Autodesk - 3ds Max,

        CATIA,

        Revit,

        Rhino,

        SketchUp,


        SUBJECT --> Computer systems

        PC,

        PC building,

        Smartphone,

        Tablette,


        SUBJECT --> Database

        Databases,

        DB2,

        Firebird,

        Informix,

        Microsoft Access,

        MySQL,

        Oracle,

        SQL,

        Sybase,


        SUBJECT --> Graphics

        Flash,

        Graphic design,

        Illustrator,

        InDesign,

        Lightroom,

        Microsoft Publisher,

        Photoshop,


        SUBJECT --> Internet

        Blog Writing,

        Facebook,

        Google Chrome,

        Google Hangouts,

        Instagram,

        Internet Explorer,

        Linkedin,

        Mozilla Firefox,

        Pinterest,

        Skype,

        Snapchat,

        Twitter,

        Video conference,

        Web Navigation,

        WhatsApp,


        SUBJECT --> Operating systems

        Android,

        iOS,

        Linux,

        Windows,

        Windows Phone,


        SUBJECT --> Other computer systems

        Animation,

        Basic computer,

        Computing,

        Telecommunications,


        SUBJECT --> Programming languages

        Artificial Intelligence,

        C,

        C#,

        C++,

        C#.NET,

        Computer programming,

        CSS,

        DOS,

        HTML,

        JavaScript,

        Perl,

        PHP,

        PostgreSQL,

        Programming languages,

        Python,

        Ruby,

        Ruby on Rails,

        SGML,

        Visual basic,

        XML,


        SUBJECT --> SEO - Natural referencing

        Google Analytics,

        Google Search Console,

        Growth hacking,

        Netlinking,

        SEMrush,

        SEO - Natural referencing,


        SUBJECT --> Software

        Gmail,

        Keynote,

        Mail,

        Microsoft Excel,

        Microsoft Outlook,

        Microsoft PowerPoint,

        Microsoft Word,

        Numbers,

        Office automation,

        OpenOffice Calc,

        OpenOffice Writer,

        Pages,

        Prezi,

        Shorthand,

        Thunderbird,

        Typing,


        SUBJECT --> Video montage

        After effects,

        Final Cut Pro,

        iMovie,

        Lightworks,

        Windows Movie Maker,


        SUBJECT --> Web development

        Dreamweaver,

        Web development,

        Wordpress,

      </div>

      <span class="img" id="img_1" style="top: 15px;"></span>
    </div>
    <div class="bloc_cath right" id="cath_2">

      MAIN TOPIC -----  Languages  ------ MAIN TOPIC  

      CATEGORY   ------ Languages   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Arabic language

        Accent reduction - Arabic,

        Arabic,

        Oral comprehension - Arabic,

        Oral expression - Arabic,

        Vocabulary - Arabic,

        Written comprehension - Arabic,

        Written expression - Arabic,


        SUBJECT --> Chinese language

        Accent reduction-Chinese,

        Cantonese,

        Chinese,

        Mandarin,

        Oral comprehension - Chinese,

        Oral expression - Chinese,

        Vocabulary - Chinese,

        Written comprehension - Chinese,

        Written expression - Chinese,


        SUBJECT --> English language

        Accent Reduction-English,

        Business English,

        English Grammar,

        ESOL (English),

        GMAT,

        IELTS,

        Oral comprehension - English,

        Oral expression - English,

        TOEFL,

        TOEIC,

        Trinity,

        Vocabulary - English,

        Written comprehension - English,

        Written expression - English,


        SUBJECT --> French language

        Accent reduction-French,

        DALF,

        DELF,

        French,

        Oral comprehension - French,

        Oral expression - French,

        Vocabulary - French,

        Written comprehension -French,

        Written expression - French,


        SUBJECT --> German language

        Accent reduction-German,

        German,

        German translation,

        Oral comprehension - German,

        Oral expression - German,

        Vocabulary - German,

        Written comprehension - German,

        Written expression - German,


        SUBJECT --> Italian language

        Accent reduction-Italian,

        Italian,

        Oral comprehension - Italian,

        Oral expression - Italian,

        Vocabulary - Italian,

        Written comprehension - Italian,

        Written expression - Italian,


        SUBJECT --> Japanese language

        Accent reduction-Japanese,

        Japanese,

        Oral comprehension - Japanese,

        Oral expression - Japanese,

        Vocabulary - Japanese,

        Written comprehension - Japanese,

        Written expression - Japanese,


        SUBJECT --> Portuguese language

        Accent reduction-Portuguese,

        Brazilian Portuguese,

        Oral comprehension - Portuguese,

        Oral expression - Portuguese,

        Portuguese,

        Portuguese (Portugal),

        Traduction - Portuguese,

        Vocabulary - Portuguese,

        Written comprehension - Portuguese,

        Written expression - Portuguese,


        SUBJECT --> Spanish language

        Accent reduction-Spanish,

        DELE,

        Oral comprehension - Spanish,

        Oral expression - Spanish,

        Spanish,

        Vocabulary - Spanish,

        Written comprehension -Spanish,

        Written expression - Spanish,

      </div>

      CATEGORY   ------ Other   ------   CATEGORY
      <div class="subjects">



        Afrikaans,

        Albanian,

        Armenian,

        Bengali,

        Braille,

        Bulgarian,

        Burmese,

        Catalan,

        Czech,

        Danish,

        Dutch,

        Estonian,

        Finnish,

        Greek,

        Hebrew,

        Hindi,

        Hungarian,

        Indonesian,

        Javanese,

        Khmer,

        Korean,

        Lao,

        Latvian,

        Lithuanian,

        Luxembourgish,

        Macedonian,

        Malay,

        Marathi,

        Mongolian,

        Nepalese,

        Norwegian,

        Other languages,

        Persian,

        Polish,

        Romanian,

        Russian,

        Sanskrit,

        Serbo-Croatian,

        Sign language,

        Sinhalese,

        Slovak,

        Swahili,

        Swedish,

        Tagalog,

        Tamul,

        Thai,

        Turkish,

        Ukrainian,

        Vietnamese,

        Yiddish,

      </div>

      <span class="img" id="img_2" style="top: 15px;"></span>
    </div>
    <div class="bloc_cath left" id="cath_3">
      MAIN TOPIC -----  Music  ------ MAIN TOPIC  

      CATEGORY   ------ Music   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Accordion type instruments

        Accordion,

        Bandoneon,

        Chromatic accordion,

        Diatonic button accordion,


        SUBJECT --> Computer music

        Computer-aided music,

        DJ-ing,

        Mixing,

        Music Recording,

        Music Technology,


        SUBJECT --> Guitar type instruments

        Acoustic Guitar,

        Balalaika,

        Bass guitar,

        Chapman Stick,

        Classical Guitar,

        Double bass,

        Electric guitar,

        Flamenco Guitar,

        Greek Sitar,

        Guitar,

        Sitar,

        Ukulele,


        SUBJECT --> Musical theory

        Music Theory,

        Musicology,

        Organology,


        SUBJECT --> Percussion

        Bongo,

        Castanets,

        Conga,

        Djembe,

        Drum,

        Goblet drum,

        Handpan,

        Hang,

        Marimba,

        Percussion,

        Tabla,

        Tambourine,

        Timbales,

        Xylophone,


        SUBJECT --> Piano type instruments

        Musical keyboard,

        Piano,

        Synthesizer,


        SUBJECT --> Singing

        Beatbox,

        Choral singing,

        Opera Voice,

        Rap - Slam,

        Singing,

        Vocal coach,


        SUBJECT --> String Instruments

        Guzheng,

        Hammered dulcimer,

        Harp,

        Lyre,

        Stringed instruments,


        SUBJECT --> Violin type instruments

        Cello,

        Erhu,

        Viola,

        Violin,


        SUBJECT --> Wind instruments

        Bagpipes,

        Bassoon,

        Bugle,

        Clarinet,

        English horn,

        Euphonium,

        Flute,

        Flute Beatbox,

        French horn,

        Harmonica,

        Oboe,

        Ocarina,

        Organ,

        Saxophone,

        Transverse flute,

        Trombone,

        Trumpet,

        Tuba,

        Wind instruments,

      </div>

      CATEGORY   ------ Other   ------   CATEGORY
      <div class="subjects">



        Kazoo,

        Music Early Learning Activities - for children,

        Music reading,

        Musical education,

        Other instruments,

      </div>

      <span class="img" id="img_3" style="top: 15px;"></span>
    </div>
    <div class="bloc_cath right" id="cath_4">
      MAIN TOPIC -----  Sports  ------ MAIN TOPIC  

      CATEGORY   ------ Sports   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Athletics

        Cross country,

        Decathlon,

        Distance running,

        Hammer throw,

        Heptathlon,

        High jump,

        Hurdling,

        Javelin,

        Long jump,

        Marathon,

        Pole vault,

        Running,

        Shotput,

        Speed walking,

        Sprint,

        Triple jump,


        SUBJECT --> Boardsport

        Cricket,

        Figure skating,

        Freestyle Scooter,

        Hockey,

        Ice Hockey,

        Ice skating,

        Longboard,

        Roller derby,

        Rollerskating,

        Sandboarding,

        Scooter,

        Skateboarding,

        Surfing,

        Wakesurfing,


        SUBJECT --> Combat sports

        Aikido,

        American Kick boxing,

        Boxing,

        Burmese Boxing,

        Combat sports,

        Fencing,

        French Boxing,

        French kickboxing,

        Full contact,

        Hapkido,

        Japanese kick boxing,

        Jeet kune do,

        Judo,

        Kajukembo,

        Karate,

        Kendo,

        Kenpo,

        Krav maga,

        Kung-fu,

        Martial arts,

        Muay Thai,

        Ninjutsu,

        Pankration,

        Sambo,

        Self defense,

        Systema,

        Taekwondo,

        Taïso,

        Thai boxing,

        Vo Vietnam,

        Vovinam,

        Wing chun,

        Wrestling,


        SUBJECT --> Dance

        Acrobatic Dance,

        African dance,

        Afrobeat,

        Awakening dance,

        Bachata,

        Ballet,

        Ballroom Dance,

        Belly Dancing,

        Bollywood Dancing,

        Breakdancing,

        Celtic dance,

        Cha-cha-cha,

        Cheerleading,

        Choreography,

        Conga,

        Contemporary Dance,

        Dance,

        Flamenco,

        Foxtrot,

        Hip Hop Dance,

        Indian Dance,

        Java dance,

        Jazz Dancing,

        Ki zomba,

        Krump,

        Kuduro,

        Latin Ballroom Dance,

        Mambo,

        Medieval Dance,

        Modern Dance,

        Morris Dance,

        Paso doble,

        Pole dance,

        Polka,

        Popping,

        Quick step,

        Rock and Roll (acrobatic),

        Rock'n'roll,

        Rumba,

        Salsa,

        Samba,

        Spanish dance,

        Swings,

        Tango,

        Tap dance,

        Twerking,

        Urban dance,

        Waltz,


        SUBJECT --> Fitness

        Aerobics,

        Aerobox,

        Body attack,

        Body combat,

        Body pump,

        Bodybuilding,

        Crossfit,

        Fitness,

        Gymnastics,

        Muscle strengthening,

        Personal training,

        Postnatal Gym,

        Prenatal Gym,

        Skipping,

        Step,

        Zumba,


        SUBJECT --> Free falling

        Base jumping,

        Skydiving,

        Windsuit,

        Wingsuit,


        SUBJECT --> Freshwater Sports

        Canoe,

        Kayak,

        Rafting,

        Rowing,


        SUBJECT --> Horseback riding

        Dressage,

        Horse driving trials,

        Horseback riding,

        Polo,

        Polocross,

        Show jumping,


        SUBJECT --> Motor sports

        Autocross,

        Formula 1,

        Karting,

        Motocross,

        Motorcycling,

        Rally,

        Rally cross,

        Supercross,


        SUBJECT --> Navigation or Sailing

        Kitesurfing,

        Sailing,

        Sailing license,

        Wakeboard,

        Water skiing,

        Windsurf,

        Yachting,

        Yatching,


        SUBJECT --> Outdoor sports

        Canyoning,

        Potholing,

        Trekking,

        Yodeling,


        SUBJECT --> Racket Sports

        Badminton,

        Squash,

        Table tennis,

        Tennis,


        SUBJECT --> Sports

        Acrobatic gymnastics,

        Archery,

        Artistic Gymnastics,

        BMX,

        Boomerang,

        Bowling,

        Climbing,

        Golf,

        Gymnastics Rhythmic,

        Hula Hoop,

        Orienteering,

        Other sports,

        Parkour,

        Pilates,

        Shooting,

        Sport early-learning activities - for children,

        Strenghthening,

        Trampolining,

        Tumbling,

        Weightlifting,


        SUBJECT --> Swimming pool

        Aqua gym,

        Aquathlon,

        Diving,

        Swimming,

        Synchronized swimming,

        Waterpolo,


        SUBJECT --> Team sports

        5 a side football,

        American football,

        Baseball,

        Basketball,

        Basque pelota,

        Football,

        Handball,

        Jeu de paume,

        Paintball,

        Rugby,

        Rugby 13s,

        Rugby 15s,

        Rugby 7s,

        Softball,

        Volleyball,


        SUBJECT --> Winter sports

        Acrobatic Skiing,

        Alpine skiing,

        Bobsleigh,

        Cross-country skiing,

        Curling,

        Extreme Skiing,

        Freestyle Skiing,

        Luge,

        Ski jumping,

        Skiing,

        Snowboarding,

        Snowmobile,

        Speed Skiing,

        Winter sports,


        SUBJECT --> Yoga

        Ashtanga yoga,

        Bikram yoga,

        Forrest yoga,

        Hatha yoga,

        Kripalu yoga,

        Kundalini yoga,

        Parent-baby yoga,

        Prenatal Yoga,

        Relaxation yoga,

        Vinyasa yoga,

        Yoga,

        Yoga flow,

      </div>

      CATEGORY   ------ Other   ------   CATEGORY
      <div class="subjects">



        Aviation,

        Bungee jumping,

        Freediving,

        Gliding,

        Hang Gliding,

        Mountaineering,

        Paragliding,

        Scuba diving,

        Ultralight aviation,

      </div>

      <span class="img" id="img_4" style="top: 15px;"></span>
    </div>
    <div class="bloc_cath left" id="cath_5">
      MAIN TOPIC -----  Arts  ------ MAIN TOPIC  

      CATEGORY   ------ Arts &amp; hobbies   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Animal communication

        Animal communication,

        Cat education,

        Dog education,


        SUBJECT --> Card Games

        Belote,

        Black Jack,

        Bridge,

        Card games,

        Card handling,

        Other card games,

        Poker,

        Rummy,

        Tarot,


        SUBJECT --> Cinematographic Arts

        Audio-visual Arts,

        Cinema,

        Production,

        Script Writing for Film,

        Script Writing for Television,


        SUBJECT --> Circus

        Acrobatics,

        Balancing,

        Circus,

        Clown art,

        Contortion,

        Cyr Wheel,

        Diabolo,

        Equestrian Art,

        Juggling,

        Korean Teeterboard,

        Mime,

        Slack line,

        Tightrope walking,

        Trapeze,

        Unicycle,


        SUBJECT --> Crafts

        Ceramics,

        Earthenware,

        Glass staining,

        Jewellery,

        Leather craft,

        Mosaic,

        Pottery,

        Tapestry,


        SUBJECT --> Dice games

        421,

        5000,

        Dice games,

        Yahtzee,


        SUBJECT --> Divinatory Arts

        Astrology,

        Cartomancy,

        Chiromancy,

        Divinatory Tarot,

        Numerology,

        Tarology,


        SUBJECT --> Games

        Darts,

        Mölkky,

        Scrabble,

        Shuffleboard,


        SUBJECT --> Gastronomy

        American cooking,

        Asian Cooking,

        Baking,

        Brewing beer,

        Cake decoration,

        Chocolatier,

        Confectionery,

        Cooking,

        Culinary Dressage,

        Easy cooking,

        Food art,

        French Cooking,

        Healthy Cooking,

        Italian Cooking,

        Mediterranean cooking,

        Middle Eastern cooking,

        Traditional Cooking,


        SUBJECT --> Landscaping

        Forestry,

        Gardening,

        Landscaping,

        Organic vegetable growing,

        Permaculture,


        SUBJECT --> Performing Arts

        Acting,

        Improvisational theatre,

        Musical theatre,

        Puppeteering,

        Scenography,

        Stand up comedy,


        SUBJECT --> Photographic Arts

        Advertising Photography,

        Culinary photography,

        Digital Photography,

        Fashion photography,

        Film photography,

        Photographic development,

        Photography,

        Social Photography,

        Wedding Photography,


        SUBJECT --> Plastic Arts

        Abstract painting,

        Acrylic painting,

        Airbrushing,

        Arab Calligraphy,

        Calligraphy,

        Caricature,

        Cartooning,

        Chinese Calligraphy,

        Comic strips,

        Drawing,

        Engraving,

        Graffiti,

        Japanese Calligraphy,

        Manga,

        Oil painting,

        Painting,

        Plastic arts,

        Sculpture,

        Spray painting,

        Watercolor painting,


        SUBJECT --> Sewing

        Book Binding,

        Embroidery,

        Fabric Printing,

        Fashion Design,

        Handbag design,

        Knitting,

        Patchwork,

        Sewing,

        Sewing machinery,

        Shoe design,

        Weaving,


        SUBJECT --> Strategy Games

        Chess,

        Chinese Chess,

        Draughts,

        Go (game),

        Risk,


        SUBJECT --> Video games

        Battlefield,

        Call of Duty,

        Clash of clans,

        Clash royal,

        CS GO,

        Elder Scrolls,

        FIFA,

        Gaming,

        GTA,

        Hearthstone,

        League of Legends,

        Mario Bros,

        Pokemon Go,

        Rainbow 6,

        StarCraft,

        Total War,

        World of Warcraft,


        SUBJECT --> Woodcraft

        Carpentry,

        Marquetry,

        Woodwork,

      </div>

      CATEGORY   ------ Health &amp; well-being   ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Baby Welfare

        Massage for babies,

        Parenting and baby education,

        Preparing for childbirth,

        Psychology and care for babies,

        Sign Language for Babies,

        Swaddling,


        SUBJECT --> Health &amp; well-being

        Alternative Medicine,

        Aromatherapy,

        Art therapy,

        Ayurveda,

        Chinese Medicine,

        Dietetics,

        Graphotherapy,

        Learning to eat well,

        Massage,

        Massage therapy,

        Meditation,

        Naturopathy,

        Nutrition,

        Qi Gong,

        Reflexology,

        Reiki,

        Relaxation,

        Shiatsu,

        Weightloss,


        SUBJECT --> Personal development

        Conflict management,

        Life coaching,

        Personal coaching,

        Personal development,

        Positive thinking,

        Public Speaking,

        Stress management,


        SUBJECT --> Well being

        Aesthetics,

        Braiding,

        Cosmetology,

        Hair Styling,

        Make-up,

        Nail art,

        Personal shopping,

      </div>

      CATEGORY   ------ Professional Development    ------   CATEGORY
      <div class="subjects">

        SUBJECT --> Coaching

        Career Coaching,

        Job searching,

        Leadership,

        Pitching,

        Professional Coaching,

        Professional Transition,

      </div>

      <span class="img" id="img_5" style="top: 15px;"></span>
    </div>
  </div>
</div>