<!DOCTYPE html>
<html lang="en">

<head>
    <title>eAcademy: Find your private teacher</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/my-profile.css" rel="stylesheet">
    <!-- <link href="css/fontawesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
        crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Ubuntu');
    </style>
</head>

<body>
    <nav>
        <div class="top-nav">
            <div class="logo">
                <img src="./images/logoPoligono.png" alt="logo">
                <span>e
                    <strong>Academy</strong>
                </span>
            </div>
            <div class="nav-links">
                <ul>
                    <li>
                        <a href="./help.html">Help</a>
                    </li>
                    <li>
                        <a href="./new-ad-step1.html" class="btn-find-class">Give lessons</a>
                    </li>
                </ul>
                <div class="connect">
                    <a href="./my-profile.html" class="btn-find-class">M</a>
                    <div class="profile-options">
                        <ul>
                            <li>My Profile</li>
                            <li>My Ads</li>
                            <li>My requests</li>
                            <li>Create an Ad</li>
                            <li>Log out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot-nav">
            <ul>
                <li class="select"><a href="">My profile</a></li>
                <li><a href="">My advertisements</a></li>
                <li><a href="">My requestes</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <div>
            <div class="header-h1">
                <h1>Find</h1>
                <h1>your ideal instructor</h1>
            </div>
            
        </div>
    </header>
    
    <footer>
        <div class="info">
            <h4>About</h4>
            <ul>
                <li>
                    <a href="">Who are we?</a>
                </li>
                <li>
                    <a href="">Need Help?</a>
                </li>
                <li>
                    <a href="">All materials</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <img src="./images/logoPoligono.png" alt="logo"> &copy; 2016
            <script>
                new Date().getFullYear() > 2016 && document.write("-" + new Date().getFullYear());
            </script>, eAcademy company.
        </div>
    </footer>
   

</body>

</html>