<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/new-ad.css" rel="stylesheet">
  <title>New advertisement</title>
</head>

<body>
  <nav>
    <div class="logo">
      <img src="./images/logoPoligono.png" alt="logo">
      <span>e
        <strong>Academy</strong>
      </span>
    </div>
    <div class="number-list">
      <ul>
        <li class="done">
          <h5>1</h5>
        </li>
        <li class="done">
          <h5>2</h5>
        </li>
        <li class="done">
          <h5>3</h5>
        </li>
        <li class="select">
          <h5>4</h5>
          <span>Finish</span>
        </li>
      </ul>
    </div>
  </nav>
  <section>
    <div>
      <h2>Advertisement save.</h2>
      <h3>Your Ad have been save correctly.</h3>
    </div>
    <div>
      <span>
        You can go to your profile your see or modify your Ad.
      </span>
    </div>
    <div>
      <a href="./new-ad-step4.html" class="btn-find-class">Go to my profile</a>
    </div>
  </section>
  <footer>
    <div class="info">
      <h4>About</h4>
      <ul>
        <li>
          <a href="">Who are we?</a>
        </li>
        <li>
          <a href="">Need Help?</a>
        </li>
        <li>
          <a href="">All materials</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <img src="./images/logoPoligono.png" alt="logo"> &copy; 2016
      <script>
        new Date().getFullYear() > 2016 && document.write("-" + new Date().getFullYear());
      </script>, eAcademy company.
    </div>
  </footer>
</body>

</html>